<div class="container">
    <div class="sign-up-wrapper">
        <%= render "common/registration/navbar" %>
        <div class="card" style="width: 30rem;">
            <div class="card-body text-center">
                <h2 class="h3 fw-bold mt-2">新規会員登録</h2>
                <div class="card-text">
                    <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true do |f| %>
                        <div class="mb-4">
                            <div class="form-outline text-left">
                                <%= f.label :name, "ユーザー名"  %>
                                <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名を入力ください",class: "form-control" %>
                            </div>
                            <div class="text-danger  text-left">
                                <% if @user.errors.include?(:name) %>
                                    <%= @user.errors.full_messages_for(:name).first %>
                                <% end %>
                                <%=  %>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-outline text-left">
                                <%= f.label :email, "メールアドレス" %>
                                <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
                            </div>
                            <div class="text-danger  text-left">
                                <% if @user.errors.include?(:email) %>
                                    <%= @user.errors.full_messages_for(:email).first %>
                                <% end %>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-outline text-left">
                                <%= f.label :password, "パスワード" %>
                                <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "form-control" %>
                            </div>
                            <div class="text-danger  text-left">
                                <% if @user.errors.include?(:password)  %>
                                    <%= @user.errors.full_messages_for(:password).first %>
                                <% end %>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-outline text-left">
                            <%= f.label :password_confirmation, "パスワード再確認" %>
                                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワードの確認", class: "form-control" %>
                            </div>
                            <div class="text-danger  text-left">
                                <% if @user.errors.include?(:password_confirmation) %>
                                    <%= @user.errors.full_messages_for(:password_confirmation).first %>
                                <% end %>
                            </div>
                        </div>
                        <%= f.submit "登録する", class: "btn btn-primary" %>
                        <div class="btn-login">
                            <%= link_to "ログインはこちら",  new_user_session_path %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>